<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="F:/QA Project/Web Automation/ShebaPlatformWebAutomation">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <include name="LoginWithValidCredentials"/>
                </methods>
            </class>
            <class name="testcases.TestLeavePage">
                <methods>
                    <include name="setUpClass"/>
                    <include name="assignLeaveWithValidData"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>